.if-caret-circle-o-up:before        { content: "\e60c"; }
.if-android:before                  { content: "\e64f"; }
.if-chrome:before                   { content: "\e65c"; }
.if-appstore-o:before               { content: "\e6b2"; }
.if-appstore:before                 { content: "\e64d"; }
.if-apple:before                    { content: "\e64e"; }
.if-github:before                   { content: "\e674"; }
.if-inbox:before                    { content: "\e67b"; }
.if-ie:before                       { content: "\e67c"; }
.if-smile:before                    { content: "\e677"; }
.if-smile-circle:before             { content: "\e676"; }
.if-meh-circle:before               { content: "\e678"; }
.if-frown:before                    { content: "\e673"; }
.if-frown-circle:before             { content: "\e672"; }
.if-meh:before                      { content: "\e679"; }
.if-pie-chart:before                { content: "\e68a"; }
.if-tags:before                     { content: "\e656"; }
.if-tags-o:before                   { content: "\e657"; }
.if-tag:before                      { content: "\e658"; }
.if-tag-o:before                    { content: "\e659"; }
.if-cloud:before                    { content: "\e65a"; }
.if-cloud-upload-o:before           { content: "\e697"; }
.if-cloud-download-o:before         { content: "\e698"; }
.if-cloud-upload:before             { content: "\e696"; }
.if-cloud-o:before                  { content: "\e699"; }
.if-cloud-download:before           { content: "\e65b"; }
.if-star-o:before                   { content: "\e693"; }
.if-star:before                     { content: "\e694"; }
.if-environment:before              { content: "\e665"; }
.if-environment-o:before            { content: "\e666"; }
.if-eye:before                      { content: "\e66e"; }
.if-eye-o:before                    { content: "\e66d"; }
.if-camera:before                   { content: "\e653"; }
.if-camera-o:before                 { content: "\e652"; }
.if-aliwangwang:before              { content: "\e64b"; }
.if-aliwangwang-o:before            { content: "\e64a"; }
.if-windows:before                  { content: "\e6a0"; }
.if-shopping-cart:before            { content: "\e692"; }
.if-unlock:before                   { content: "\e69f"; }
.if-lock:before                     { content: "\e69d"; }
.if-save:before                     { content: "\e69e"; }
.if-user:before                     { content: "\e69c"; }
.if-video-camera:before             { content: "\e69b"; }
.if-to-top:before                   { content: "\e69a"; }
.if-team:before                     { content: "\e680"; }
.if-tablet:before                   { content: "\e695"; }
.if-solution:before                 { content: "\e68f"; }
.if-poweroff:before                 { content: "\e691"; }
.if-search:before                   { content: "\e690"; }
.if-share-alt:before                { content: "\e68e"; }
.if-setting:before                  { content: "\e68d"; }
.if-poweroff:before                 { content: "\e68b"; }
.if-picture:before                  { content: "\e689"; }
.if-phone:before                    { content: "\e688"; }
.if-paper-clip:before               { content: "\e687"; }
.if-notification:before             { content: "\e686"; }
.if-mobile:before                   { content: "\e685"; }
.if-menu-fold:before                { content: "\e684"; }
.if-menu-unfold:before              { content: "\e683"; }
.if-mail:before                     { content: "\e682"; }
.if-logout:before                   { content: "\e681"; }
.if-link:before                     { content: "\e67e"; }
.if-line-chart:before               { content: "\e67f"; }
.if-home:before                     { content: "\e67d"; }
.if-laptop:before                   { content: "\e67a"; }
.if-hdd:before                      { content: "\e675"; }
.if-folder-open:before              { content: "\e671"; }
.if-folder:before                   { content: "\e670"; }
.if-filter:before                   { content: "\e66f"; }
.if-file-text:before                { content: "\e66c"; }
.if-file:before                     { content: "\e66b"; }
.if-exception:before                { content: "\e66a"; }
.if-export:before                   { content: "\e669"; }
.if-desktop:before                  { content: "\e662"; }
.if-edit:before                     { content: "\e668"; }
.if-ellipsis:before                 { content: "\e667"; }
.if-upload:before                   { content: "\e664"; }
.if-download:before                 { content: "\e663"; }
.if-delete:before                   { content: "\e661"; }
.if-copy:before                     { content: "\e660"; }
.if-customerservice:before          { content: "\e65e"; }
.if-credit-card:before              { content: "\e65f"; }
.if-code:before                     { content: "\e65d"; }
.if-calendar:before                 { content: "\e654"; }
.if-book:before                     { content: "\e655"; }
.if-bars:before                     { content: "\e650"; }
.if-bar-chart:before                { content: "\e651"; }
.if-area-chart:before               { content: "\e64c"; }
.if-question-circle-o:before        { content: "\e648"; }
.if-question:before                 { content: "\e649"; }
.if-question-circle:before          { content: "\e647"; }
.if-pause-circle:before             { content: "\e644"; }
.if-pause:before                    { content: "\e646"; }
.if-pause-circle-o:before           { content: "\e645"; }
.if-clock-circle:before             { content: "\e642"; }
.if-clock-circle-o:before           { content: "\e643"; }
.if-swap:before                     { content: "\e641"; }
.if-swap-left:before                { content: "\e63f"; }
.if-swap-right:before               { content: "\e640"; }
.if-plus-circle:before              { content: "\e63d"; }
.if-plus:before                     { content: "\e63e"; }
.if-plus-circle-o:before            { content: "\e63c"; }
.if-minus:before                    { content: "\e63b"; }
.if-minus-circle-o:before           { content: "\e63a"; }
.if-minus-circle:before             { content: "\e639"; }
.if-plus-square:before              { content: "\e6ae"; }
.if-minus-square:before             { content: "\e6ad"; }
.if-info-circle-o:before            { content: "\e638"; }
.if-info-circle:before              { content: "\e637"; }
.if-info:before                     { content: "\e636"; }
.if-exclamation-circle:before       { content: "\e634"; }
.if-exclamation-circle-o:before     { content: "\e635"; }
.if-exclamation:before              { content: "\e633"; }
.if-cross-circle:before             { content: "\e631"; }
.if-cross-circle-o:before           { content: "\e632"; }
.if-check-circle:before             { content: "\e62f"; }
.if-check-circle-o:before           { content: "\e630"; }
.if-cross:before                    { content: "\e62d"; }
.if-check:before                    { content: "\e62e"; }
.if-verticle-right:before           { content: "\e62c"; }
.if-verticle-left:before            { content: "\e62b"; }
.if-rollback:before                 { content: "\e62a"; }
.if-retweet:before                  { content: "\e627"; }
.if-shrink:before                   { content: "\e628"; }
.if-arrow-salt:before               { content: "\e629"; }
.if-reload:before                   { content: "\e626"; }
.if-double-right:before             { content: "\e625"; }
.if-double-left:before              { content: "\e624"; }
.if-arrow-right:before              { content: "\e621"; }
.if-arrow-up:before                 { content: "\e622"; }
.if-arrow-down:before               { content: "\e623"; }
.if-arrow-left:before               { content: "\e620"; }
.if-left:before                     { content: "\e601"; }
.if-right:before                    { content: "\e600"; }
.if-down:before                     { content: "\e603"; }
.if-up:before                       { content: "\e602"; }
.if-play-circle:before              { content: "\e61e"; }
.if-play-circle-o:before            { content: "\e61f"; }
.if-circle-left:before              { content: "\e61b"; }
.if-circle-up:before                { content: "\e61c"; }
.if-circle-down:before              { content: "\e61d"; }
.if-circle-right:before             { content: "\e61a"; }
.if-circle-o-right:before           { content: "\e616"; }
.if-circle-o-up:before              { content: "\e618"; }
.if-circle-o-down:before            { content: "\e617"; }
.if-circle-o-left:before            { content: "\e619"; }
.if-step-backward:before            { content: "\e614"; }
.if-step-forward:before             { content: "\e615"; }
.if-fast-backward:before            { content: "\e613"; }
.if-fast-forward:before             { content: "\e612"; }
.if-caret-left:before               { content: "\e60f"; }
.if-caret-right:before              { content: "\e60a"; }
.if-caret-down:before               { content: "\e611"; }
.if-caret-up:before                 { content: "\e610"; }
.if-forward:before                  { content: "\e608"; }
.if-backward:before                 { content: "\e609"; }
.if-caret-circle-o-down:before      { content: "\e60e"; }
.if-caret-circle-o-right:before     { content: "\e60d"; }
.if-caret-circle-o-left:before      { content: "\e60b"; }
.if-caret-circle-left:before        { content: "\e604"; }
.if-caret-circle-right:before       { content: "\e605"; }
.if-caret-circle-up:before          { content: "\e606"; }
.if-caret-circle-down:before        { content: "\e607"; }
.if-qrcode:before                   { content: "\e6a5"; }
.if-scan:before                     { content: "\e6af"; }
.if-like:before                     { content: "\e6a3"; }
.if-dislike:before                  { content: "\e6a2"; }
.if-pay-circle:before               { content: "\e6a8"; }
.if-pay-circle-o:before             { content: "\e6a9"; }
.if-message:before                  { content: "\e6a4"; }
.if-file-unknown:before             { content: "\e6a6"; }
.if-heart:before                    { content: "\e68c"; }
.if-heart-o:before                  { content: "\e6b0"; }
.if-calculator:before               { content: "\e6b1"; }
.if-loading:before {
    display: inline-block;
    animation: loadingCircle 1s infinite linear;
    content: "\e6a1";
}

@keyframes loadingCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
